RewriteEngine On

# Если запрашиваемый файл реально существует (например, картинка или CSS) - открываем его
RewriteCond %{REQUEST_FILENAME} !-f

# Если запрашиваемая папка реально существует - открываем её
RewriteCond %{REQUEST_FILENAME} !-d

# Иначе перенаправляем весь запрос на index.php
RewriteRule ^(.*)$ index.php [QSA,L]